@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-chewy: "Chewy", sans-serif;
  --font-nunito: "Nunito", sans-serif;
}
@plugin "daisyui";
